* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contain{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("header-image.png");
        background-size: cover;
        background-position: center;
        padding: 10px 8%;
        
}
.logo {
    cursor: pointer;
    width: 150px;
}
form {
    box-sizing: border-box;
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(241, 233, 233, 0.1);
    height: 620px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    max-width: 435px;
}
form h2 {
    color: rgb(235, 235, 235);
    font-size: 40px;
    margin-top: 30px;
}
form input {
    border: 0;
    margin: 20px 0;
    padding: 10px;
    outline: none;
    background: linear-gradient(rgb(255 255 255), rgb(227 227 227));
    font-size: 15px;
}
form  .chk{
    margin-right: 330px;
    margin-bottom: -46px;
    margin-top: 25px;
}
form button a{
    text-decoration: none;
    color: black;
}
form button a:hover{
    color: white;
}
form label{
  margin: 24px;
}
.hlp{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 220px;
    margin-top: -45px;
}
.hlp:hover{
    color: white;
    text-decoration: underline;
}
.new{
    font-size: 15px;
    margin-top: 64px;
}
.new a{
    font-size: 18px;
}
.new a:hover{
    color: white;
text-decoration: underline;
}
label{
    color: aliceblue;
    margin-top: 20px;
}
label a{
    text-decoration: none;
    color: red;
}
p a{
    text-decoration: none;
    color: aliceblue;
}
.last{
    font-size: 14px;
}


/*--------------Footer --------------- */
.footer {
    padding: 15px 15% 10px;
    border-top: 5px solid #333;
    color: #777;
}

.footer h2 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a {
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 12px;
    margin-bottom: 10px;
}

.footer .row {
    align-items: flex-start;
    padding: 10px 0;
}

.text {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}


