* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: black;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/pc-1.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    cursor: pointer;
    width: 150px;
}

nav button {
    border: 0;
    outline: 0;
    padding: 7px 20px;
    font-size: 19px;
    border-radius: 4px;
    border: 2px solid white;
    color: #fff;
    background: transparent;
}
nav button a{
    text-decoration: none;
    color: black;
}
nav button a:hover{
    color: black;
    text-decoration: underline;
}

.header-content {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

}

.header-content h1 {
    font-size: 63px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.header-content h3 {
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 27px;
}

.header-content p {
    margin-top: 40px;
    font-weight: 300;
}

.email {
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 5px;
}

.email input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 15px;
    font-size: 20px;
}

.butn {
    height: 50px;
    width: 241px;
    font-size: 29px;
}


/* ----------------features section ----------------*/
.container {
    padding: 50px 12%;
    font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img {
    display: block;
    width: 90%;
    margin: auto;
}

.container h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}


/* -------------------FAQ ----------------- */
.faq {
    padding: 10px 10%;
    text-align: center;
    font-size: 20px;

}

.faq h2 {
    font-size: 50px;
    font-weight: bold;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after {
    content: '+';
    font-size: 34px;
    right: 20px;
    position: absolute;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;

}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}

.faq .email {
    max-width: 600px;
    margin: 20px auto 60px;
}

.faq small {
    font-size: 14px;
}

/*----------------Footer section ------------------*/

.footer {
    padding: 15px 15% 10px;
    border-top: 5px solid #333;
    color: #777;
}

.footer h2 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a {
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 12px;
    margin-bottom: 10px;
}

.footer .row {
    align-items: flex-start;
    padding: 10px 0;
}

.text {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}


/*------------ responsive add media queries ------------*/

@media only screen and (max-width:600px) {
    .logo {
        width: 100px;
    }

    nav button {
        padding: 5px 10px;
    }

    .header-content {
        position: unset;
        transform: none;
        padding-top: 150px;
    }

    .header-content h1 {
        font-size: 30px;
    }

    .email button {
        font-size: 10px;
        padding: 10px 15px;
    }

    .text-col,
    .img-col {
        flex-basis: 100%;

    }

    .container h2 {
        font-size: 30px;
        text-align: center;
    }

    .container p {
        font-size: 15px;
        text-align: center;
    }

    .row:nth-child(2),
    .row:nth-child(4) {
        flex-direction: column-reverse;
    }

    .container .row {
        padding: 10px 0;
    }

    .faq h2 {
        font-size: 20px;
    }

    .accordion .content {
        font-size: 15px;

    }

    .accordion li label {
        padding: 10px;
        font-size: 15px;
    }

    label::after {
        font-size: 20px;
    }

    .butn {
        padding: 10px 15px;
        font-size: 14px;
        margin-left: -73px;
    }
}